.App {
  text-align: center;
}
.calculator-container{
  width: 200px;
  
background-color: #004d40;
}
.calculator__display{
  height: 100px;
  width: 100%;
  background-color: #009688;
  color: white;
  font-size: 16px;
  text-align: center;
}
button{
  width: 30%;
  background-color: #00796b; /* Green */
  border: none;
  color: white;
  font-size: 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin: 3px;
}
.resultClass{
  
  font-size: x-large;
  text-align: right;
}
